
body {
font: 14px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #FFF;
}
        

h2 { 
color:#FFF;
font-size:40px;
font-family:Piximisa;
text-align:center; }

.contact {
margin-left:0px;
margin-top:300px;
opacity:1;
}

.skype {
	margin-top:200px;
	margin-left:80px;
	opacity:0,3;
}
	
		
.storas {
color: #FFF;
background-color:#FFF;
height: 5px;
}
.juodas {
	color:#FFF;
	font-family:"Myriad Pro";
}

